body{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    margin-top: 80px;
    align-items:  center;
    

}
td{
    margin-left: 40px;
}

h1,h2{
    margin-left: 40px; 
    width: 100%;
}