body {
    background : url('nenmaytinh.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
  }
  
  h1 {
      position: absolute;  
      top: 90px;         
      left: 240px;        
      padding-left: 50px; 
      background-size: 40px 40px;  
      color: brown;
  }
  
  h2 {
      position: absolute;  
      top: 90px;         
      left: 220px;  
      padding-left: 0px;
      color: brown; 
      margin-left: 20px;
  }
  
  h3 {
      position: absolute;  
      top: 230px;         
      left: 240px;
      padding-left: 50px; 
      background-size: 40px 40px; 
      color: brown;
  }
  