body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    border-collapse: collapse;
    border: 1px solid white;
    margin-top: 30px;
    border-radius: 100px;
    
}
tr,td{
    border-collapse: collapse;
    border: 1px solid white;
    border-radius: 100px;
   
}
h1{
    color: white;
    font-size:20px ;
}
form{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}